.btn{
    background-color: orange;
    color: greenyellow;
    padding: 5px;
    margin: 2px;
    padding-left: 10px;
    padding-right:10px;
    text-align: center;
   border-radius: 5px;
 
}
.head{
    font-size: medium;
}
.bord{
    background-color: bisque;
    height: 30vh;
    width: 30vh;
    text-align: center;
    padding-top: 20px;
}